@use "sass:color";
@use "../variables";
@use "../libs/normalize" as normalize;

.categories {
  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include normalize.noselect();

      &:hover {
        background-color: color.scale(#f9f9f9, $lightness: -2%);
      }

      &:active {
        background-color: color.scale(#f9f9f9, $lightness: -5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
